
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= day %></h1>
  <ul>
    <!--! So ilalagay ko yung control flow statements (i.e. if-statements, loops) sa loob ng html na gusto kong i-edit o mag-add ng html -->
    <% newTodos.forEach(newTodo => { %> <!-- Hindi na natin ginamitan ng template yung newTodos dito, gagamitan lang kaya kapag nasa loob ng html?-->
        <li><%= newTodo %></li>
    <% }) %>

  </ul>
  <form action="/" method="POST">
    <input name="newTodo" type="text">
    <button type="submit">Submit</button>
  </form>
 
</body>
</html>